# <font color='red'>1. Rename the Notebook with your name and roll number</font> 
# <font color='red'>2. Write your Name and Roll number in the cell below</font>

# Name: FAHAD BAIG
# Roll Number: 19I1883

# How can we create a series from a list, numpy array and dict?

### Task-1:
#### Create a pandas series from each of the items below: a list, numpy and a dictionary

In [38]:
import numpy as np
import pandas as pd
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [39]:
print(mylist)

['a', 'b', 'c', 'e', 'd', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [40]:
print(myarr)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25]

In [41]:
print(mydict)

{'a': 0, 'b': 1, 'c': 2, 'e': 3, 'd': 4, 'f': 5, 'g': 6, 'h': 7, 'i': 8, 'j': 9, 'k': 10, 'l': 11, 'm': 12, 'n': 13, 'o': 14, 'p': 15, 'q': 16, 'r': 17, 's': 18, 't': 19, 'u': 20, 'v': 21, 'w': 22, 'x': 23, 'y': 24, 'z': 25}

In [42]:
# Code Here
data=pd.Series(myarr)
print(data)
data=pd.Series(mylist)
print(data)
data=pd.Series(mydict)
print(data)

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int32
0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object
a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

# How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

### Task-2:
#### Compute the minimum, 25th percentile, median, 75th, and maximum of ser

In [43]:
state = np.random.RandomState(100)
ser = pd.Series(state.normal(10, 5, 25))

In [44]:
ser

0      1.251173
1     11.713402
2     15.765179
3      8.737820
4     14.906604
5     12.571094
6     11.105898
7      4.649783
8      9.052521
9     11.275007
10     7.709865
11    12.175817
12     7.082025
13    14.084235
14    13.363604
15     9.477944
16     7.343598
17    15.148663
18     7.809322
19     4.408409
20    18.094908
21    17.708026
22     8.740604
23     5.787821
24    10.922593
dtype: float64

In [45]:
# Code Here
arr=ser.min()
print(arr)
arr=ser.quantile(.25)
print(arr)
arr=ser.median()
print(arr)
arr=ser.quantile(.75)
print(arr)
arr=ser.max()
print(arr)

1.2511726347265135
7.7098650724868785
10.922593452819715
13.363604028548306
18.0949083033763

# How to convert a numpy array to a dataframe of given shape?

### Task-3:
#### Reshape the series ser into a dataframe with 7 rows and 5 columns

In [46]:
series = pd.Series(np.random.randint(1, 10, 35))

In [47]:
series.shape

(35,)

In [50]:
# Code Here
arr=pd.DataFrame(series.values.reshape(7,5))
print(arr)

   0  1  2  3  4
0  9  4  7  1  4
1  1  3  1  1  2
2  1  7  8  2  1
3  3  2  9  3  5
4  9  3  2  1  5
5  6  9  7  8  3
6  4  9  5  7  5

# How to select a specific column from a dataframe as a dataframe instead of a series?

### Task-4:
#### Get the  columns (a & b) in df as a dataframe (rather than as a Series).

In [30]:
# Input
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

In [31]:
df

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [32]:
# df.a is returning a series
df.a

0     0
1     5
2    10
3    15
Name: a, dtype: int32

In [33]:
# Code Here
df[['a','b']]

    a   b
0   0   1
1   5   6
2  10  11
3  15  16

# How to normalize all columns in a dataframe?

### Task-5:
<ol>
    <li>
            Normalize all columns of df by subtracting the column mean and divide by standard deviation.
    </li>
    <li>
        Range all columns of df such that the minimum value in each column is 0 and max is 1
    </li>
</ol>

##### Hint: Recall  axis = 0 & axis = 1 defines along which axis to perform your operation (either rows or columns)
##### Hint 2: Use `` .apply() `` function of dataframe along with ```lambda``` function.

In [43]:
np.random.seed(0)
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

In [44]:
df

    0   1   2   3   4   5   6   7   8   9
0  45  48  65  68  68  10  84  22  37  88
1  71  89  89  13  59  66  40  88  47  89
2  82  38  26  78  73  10  21  81  70  80
3  48  65  83  89  50  30  20  20  15  40
4  33  66  10  58  33  32  75  24  36  76
5  56  29  35   1   1  37  54   6  39  18
6  80   5  43  59  32   2  66  42  58  36
7  12  47  83  92   1  15  54  13  43  85

In [54]:
# Code Here
print(df.apply(lambda x: round(((x-x.mean())/x.std()), 2)))
print(df.apply(lambda x: round((x-x.min())/(x.max()-x.min()), 2)))

      a     b     c     d     e
0 -1.16 -1.16 -1.16 -1.16 -1.16
1 -0.39 -0.39 -0.39 -0.39 -0.39
2  0.39  0.39  0.39  0.39  0.39
3  1.16  1.16  1.16  1.16  1.16
      a     b     c     d     e
0  0.00  0.00  0.00  0.00  0.00
1  0.33  0.33  0.33  0.33  0.33
2  0.67  0.67  0.67  0.67  0.67
3  1.00  1.00  1.00  1.00  1.00